---
  let { contactAdvertisement } = Astro.props;
  if (contactAdvertisement === undefined) {
    contactAdvertisement = true;
  }

  // Assets
  import pageLogoWhite from "/assets/shared/desktop/logo-light.png";

  import iconFacebook from "/assets/shared/desktop/icon-facebook.svg";
  import iconInstagram from "/assets/shared/desktop/icon-instagram.svg";
  import iconPinterest from "/assets/shared/desktop/icon-pinterest.svg";
  import iconTwitter from "/assets/shared/desktop/icon-twitter.svg";
  import iconYoutube from "/assets/shared/desktop/icon-youtube.svg";
  import Button from "./Button.astro";
---

<footer class="footer bg-primary-black">

  <div class="container | wrapper">

    {contactAdvertisement &&
    <div class="card | text-primary-white">
      <div class="card__info | grid">
        <h2 class="card__heading">Let’s talk about your project</h2>
        <p class="card__text">Ready to take it to the next level? Contact us today and find out how
          our expertise can
          help your business grow.</p>
      </div>
      <Button text="Get in touch" btnType="light" />
    </div>
    }

    <div class="logo-wrapper">
      <img draggable="false" class="logo" width="404px" height="227px" src={pageLogoWhite}
        alt="logo">
    </div>
    <nav class="nav nav--secondary">
      <ul class="flex flex-col">
        <li class="nav-item nav__item"><a href="/about/" class="nav__link">Our Company</a></li>
        <li class="nav-item nav__item"><a href="/locations/" class="nav__link">Locations</a></li>
        <li class="nav-item nav__item"><a href="/contact/" class="nav__link">Contact</a></li>
      </ul>
    </nav>
    <div class="line-separator"></div>
    <ul class="contact-list | flex flex-col" style="--gap: .4rem;">
      <li class="font-bold text-primary-white">Designo Central Office</li>
      <li class="text-primary-white">3886 Wellington Street </li>
      <li class="text-primary-white">Toronto, Ontario M9C 3J5</li>
    </ul>
    <ul class="contact-list | flex flex-col" style="--gap: .4rem;">
      <li class="font-bold text-primary-white">Contact Us (Central Office)</li>
      <li class="text-primary-white">P : +1 253-863-8967</li>
      <li class="text-primary-white">M : contact@designo.co</li>
    </ul>
    <ul class="social-media-list | flex" style="">
      <li>
        <a href="https://www.facebook.com" class="social-m-icon">
          <img src={iconFacebook} alt="facebook" width="24px" height="24px" />
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com" class="social-m-icon">
          <img src={iconYoutube} alt="youtube" width="24px" height="24px" />
        </a>
      </li>
      <li>
        <a href="https://www.twitter.com" class="social-m-icon">
          <img src={iconTwitter} alt="twitter" width="24px" height="24px" />
        </a>
      </li>
      <li>
        <a href="https://www.pinterest.com" class="social-m-icon">
          <img src={iconPinterest} alt="pinterest" width="24px" height="24px" />
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com" class="social-m-icon">
          <img src={iconInstagram} alt="instagram" width="24px" height="24px" />
        </a>
      </li>
    </ul>
  </div>
</footer>


<style lang="scss">
  .container {
    --footer-top-margin: 180px;
    padding-top: calc(var(--footer-top-margin) + 3rem);
    margin-top: 15rem;

    padding-bottom: 5rem;

    position: relative;
    display: grid;
    justify-items: center;
    grid-template-areas:
      "logo"
      "lineSeparator"
      "navigation"
      "office"
      "contact"
      "socials";
    gap: 3rem;

    background: var(--color-primary-black);
    color: var(--color-primary-white);
    text-align: center;
  }

  .line-separator {
    width: 100%;
    height: 1px;
    background-color: var(--color-secondary-light-grey-1);
    opacity: .4;
  }

  .logo-wrapper {
    grid-area: logo;
  }

  .social-m-icon {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0;
      right: 0;
      margin: auto;
      height: 2px;
      width: 0;
      background-color: var(--color-secondary-light-peach);
      transition: width 100ms ease-out;
    }

    &:where(:hover, :focus-within)::after {
      width: 100%;
    }
  }


  .card {
    position: absolute;
    left: 0;
    right: 0;

    display: grid;
    justify-items: center;
    gap: 2rem;

    padding-block: 2em;
    padding-inline: 1.4rem;

    border-radius: var(--round-lg);
    transform: translateY(calc(-1 * var(--footer-top-margin)));

    align-items: center;
    background-image: url("/assets/shared/mobile/bg-pattern-design-pages-intro-mobile.svg");
    background-color: var(--color-primary-peach);
    background-repeat: no-repeat;
    background-position: center;

    &__heading {
      max-width: 15ch;
      line-height: 36px;
    }

    &__info {
      justify-items: center;
    }

    &__text {
      max-width: 40ch;
    }
  }

  .nav {
    --nav-border-bottom-color: transparent;
    grid-area: navigation;

    &__link {
      text-transform: uppercase;
      letter-spacing: 1.5px;
      text-decoration: none;
    }
  }

  .contact-list > li {
    opacity: .5;
  }

  .contact-list:nth-of-type(1) {
    grid-area: office;
  }

  .contact-list:nth-of-type(2) {
    grid-area: contact;
  }

  .social-media-list {
    grid-area: socials;
    height: min-content;
    gap: 1.125rem;
  }

  @media (min-width: 768px) {
    .container {
      --footer-top-margin: 130px;
      text-align: left;
      grid-template-areas:
        "logo navigation navigation"
        "lineSeparator lineSeparator lineSeparator"
        "office contact socials";
      grid-template-columns: auto auto 1fr;
      gap: 6rem auto;
    }

    .line-separator {
      grid-column: 1/-1;
    }

    .card {
      text-align: left;
      grid-auto-flow: column;
      justify-content: space-between;
      max-height: 400px;
      padding-inline: 3em;
      padding-block: 3.5rem;
      background-image: url("/assets/shared/tablet/bg-pattern-design-pages-intro-tablet.svg");

      &__info {
        justify-items: start;
      }
    }

    .logo-wrapper {
      align-self: center;
    }

    .nav {
      justify-self: end;
      --nav-border-bottom-color: var(--color-primary-white);

      &>ul {
        flex-direction: row;
        gap: 2rem;
      }

      & .contact-list {
        justify-self: start;
      }
    }

    .social-media-list {
      margin-top: auto;
      margin-left: auto;
    }

    .contact-list:nth-of-type(1) {
      justify-self: start;
    }
  }
</style>