---
  let { contactAdvertisement } = Astro.props;
  if (contactAdvertisement === undefined) {
    contactAdvertisement = true;
  }

  // Assets
  import pageLogoWhite from "/assets/shared/desktop/logo-light.png";

  import iconFacebook from "/assets/shared/desktop/icon-facebook.svg";
  import iconInstagram from "/assets/shared/desktop/icon-instagram.svg";
  import iconPinterest from "/assets/shared/desktop/icon-pinterest.svg";
  import iconTwitter from "/assets/shared/desktop/icon-twitter.svg";
  import iconYoutube from "/assets/shared/desktop/icon-youtube.svg";

  import Button from "./Button.astro";

---

<footer class="footer bg-primary-black">

  <div class="container | wrapper">

    {contactAdvertisement &&
      <div class="card | text-primary-white bg-primary-peach">
        <div class="card__info | grid">
          <h2 class="card__heading">Let’s talk about your project</h2>
          <p class="card__text">Ready to take it to the next level? Contact us today and find out how
            our expertise can
            help your business grow.</p>
        </div>
        <Button text="Get in touch" class:list={[ 'hello goodbye' , { hello: true, world: true }, new
          Set([ 'hello' , 'friend' ]) ]} />
      </div>
    }

    <div class="logo-wrapper">
      <img draggable="false" class="logo" src={pageLogoWhite} alt="logo">
    </div>
    <nav class="nav nav--secondary">
      <ul class="flex flex-col">
        <li class=""><a href="/about/" class="nav__link">Our Company</a></li>
        <li class=""><a href="/locations/" class="nav__link">Locations</a></li>
        <li class=""><a href="/contact/" class="nav__link">Contact</a></li>
      </ul>
    </nav>
    <ul class="contact-list | flex flex-col" style="--gap: .4rem;">
      <li class="contact-item | font-bold text-secondary-light-grey">Designo Central Office</li>
      <li class="contact-item | text-secondary-light-grey">3886 Wellington Street </li>
      <li class="contact-item | text-secondary-light-grey">Toronto, Ontario M9C 3J5</li>
    </ul>
    <ul class="contact-list | flex flex-col" style="--gap: .4rem;">
      <li class="font-bold text-secondary-light-grey">Contact Us (Central Office)</li>
      <li class="text-secondary-light-grey">P : +1 253-863-8967</li>
      <li class="text-secondary-light-grey">M : contact@designo.co</li>
    </ul>
    <ul class="social-media-list | flex" style="">
      <li>
        <a href="https://www.facebook.com" class="social-m-icon">
          <img src={iconFacebook} alt="facebook" />
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com" class="social-m-icon">
          <img src={iconYoutube} alt="youtube" />
        </a>
      </li>
      <li>
        <a href="https://www.twitter.com" class="social-m-icon">
          <img src={iconTwitter} alt="twitter" />
        </a>
      </li>
      <li>
        <a href="https://www.pinterest.com" class="social-m-icon">
          <img src={iconPinterest} alt="pinterest" />
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com" class="social-m-icon">
          <img src={iconInstagram} alt="instagram" />
        </a>
      </li>
    </ul>
  </div>
</footer>


<style lang="scss">
  .container {
    --footer-top-margin: 180px;
    padding-top: calc(var(--footer-top-margin) + 3rem);
    margin-top: 15rem;

    padding-bottom: 5rem;

    position: relative;
    display: grid;
    justify-items: center;
    grid-template-areas:
      "logo"
      "navigation"
      "office"
      "contact"
      "socials";
    gap: 3rem;

    background: var(--color-primary-black);
    color: var(--color-primary-white);
    text-align: center;
  }

  .logo-wrapper {
    grid-area: logo;
  }


  .card {
    position: absolute;
    left: 0;
    right: 0;

    display: grid;
    justify-items: center;
    gap: 2rem;

    padding-block: 2em;
    padding-inline: 1.4rem;

    border-radius: var(--component-radius);
    transform: translateY(calc(-1 * var(--footer-top-margin)));

    align-items: center;

    &__heading {
      max-width: 15ch;
      line-height: 36px;
    }

    &__info {
      justify-items: center;
    }

    &__text {
      max-width: 40ch;
    }
  }

  .nav {
    grid-area: navigation;

    &__link {
      text-transform: uppercase;
      letter-spacing: 1.5px;
      text-decoration: none;
    }
  }

  .contact-list:nth-of-type(1) {
    grid-area: office;
  }

  .contact-list:nth-of-type(2) {
    grid-area: contact;
  }

  .social-media-list {
    grid-area: socials;
    height: min-content;
  }

  @media (min-width: 768px) {
    .container {
      --footer-top-margin: 130px;
      text-align: left;
      grid-template-areas:
        "logo navigation navigation"
        "office contact socials";
      grid-template-columns: auto auto 1fr;
      gap: 6rem auto;
    }

    .card {
      text-align: left;
      grid-auto-flow: column;
      justify-content: space-between;
      max-height: 400px;
      padding-inline: 3em;
      padding-block: 3rem;

      &__info {
        justify-self: start;
      }
    }

    .logo-wrapper {
      align-self: center;
    }

    .nav {
      justify-self: end;
    }

    .nav>ul {
      flex-direction: row;
      gap: 2rem;
    }

    .socials {
      align-self: end;
    }

    .contact-list {
      justify-self: start;
    }

    .social-media-list {
      margin-top: auto;
      margin-left: auto;
    }
  }
</style>