---
  import Services from "@components/Services.astro";
  export interface Props {
    title: string,
    description: string,
    items: PageItems[]
  }

  export interface PageItems {
    title: string;
    description: string;
    image: {
      path: string;
      description: string;
    }
    link: string;
  }


  import BaseLayout from "../layouts/BaseLayout.astro";
  import PageSpecialisationHeroSection from "../components/pageSpecialisationHeroSection.astro";
  const { title, description, items }: Props = Astro.props;


---

<BaseLayout title={title}>

  <PageSpecialisationHeroSection pageTitle={title} description={description} />
  <div class="wrapper">
    {(items.length > 0) &&
    <ul class="web-page-list">
      {items.map(item =>
      <>
        <li class="web-page__item">
          <a href={item.link} class="web-page__link" target="_blank">
            <figure class="web-page__figure">
              <img class="web-page__img" src={item.image.path} alt={item.image.description}
                draggable="false" />
              <figcaption class="web-page__info | flex flex-col text-center">
                <h3 class="text-uppercase">{item.title}</h3>
                <p class="web-page__description">{item.description}</p>
              </figcaption>
            </figure>
          </a>
        </li>
      </>)}
    </ul>}
  </div>
  <Services mainPage="false" />
</BaseLayout>

<style lang="scss">
  .web-page-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem 2rem;
    margin-bottom: 3rem;
    margin-top: 10rem;
  }


  .web-page {
    --radius-size: 12px;


    &__link {
      display: block;
      text-decoration: none;
    }

    &__figure {
      display: grid;
      grid-auto-flow: row;
      grid-template-columns: 1fr;
    }

    &__img {
      --radius-size: 12px;
      border-top-left-radius: var(--radius-size);
      border-top-right-radius: var(--radius-size);

      width: 100%;
      object-fit: cover;

      grid-column: 1;
      grid-row: 1;
    }

    &__info {
      --radius-size: 12px;
      --transition-duration: 180ms;
      --gap: 1.5em;

      grid-column: 1;
      grid-row: 2;

      padding-block: 2em;
      padding-inline: 2rem;

      background-color: hsla(14, 76%, 97%, 1);
      border-bottom-left-radius: var(--radius-size);
      border-bottom-right-radius: var(--radius-size);

      transition:
        background-color var(--transition-duration) ease-out,
        color var(--transition-duration) ease-out;

      &>h3 {
        color: var(--color-primary-peach);
      }

      &__description {
        color: var(--color-primary-black);
        max-width: 30ch;
        margin: auto;
      }
    }

    //  Hover & Focus effects
    &__item {
      transition: transform 250ms ease-out;
    }

    &__item:where(:focus-within, :hover) {
      transform: scale(1.05);
    }

    &__link:where(:focus-within, :hover) {
      outline: none;
    }

    &__item:where(:focus-within, :hover) &__info {
      background-color: var(--color-primary-peach);

      &>* {
        color: var(--color-primary-white);
      }
    }
  }

  @media (min-width: 768px) {

    .web-page {

      &__description {
        margin: 0;
      }

      &__info {
        display: flex;
        place-items: center;
        place-content: center;
      }

      &__item:last-child {
        margin-right: auto;
      }

      &__figure {
        grid-template-columns: 1fr 1fr;
      }

      &__img {
        grid-column: 1;
        grid-row: 1;
        border-top-right-radius: 0;
        border-bottom-left-radius: var(--radius-size);
      }

      &__info {
        grid-column: 2;
        grid-row: 1;

        border-top-right-radius: var(--radius-size);
        border-bottom-left-radius: 0;
      }

      &__item:where(:focus-within, :hover) &__img {
        max-width: 100%;
      }
    }
  }

  @media (min-width: 900px) {

    .web-page {
      &-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      }

      &__figure {
        grid-template-columns: 1fr;
      }

      &__img {
        max-height: 358px;
        grid-column: 1;
        grid-row: 1;
        border-top-right-radius: var(--radius-size);
        border-bottom-left-radius: 0;
      }

      &__info {
        height: 160px;
        grid-column: 1;
        grid-row: 2;
        border-top-right-radius: 0;
        border-bottom-left-radius: var(--radius-size);
      }
    }
  }
</style>